<article>
<h3> Question Title: <%= @question.title %> ?</h3>
<h4>Question Description:</h4><p><%= @question.description %><p>
<h5><a href="/comments/new">Add Comment</a> | <a href="/answers/new">Add Answer</a></h5>

<ul>
<h4><%= @corr_answers.count %> Answers </h4>
<% @corr_answers.each do |answer| %>
<br>
<li>
  <%= answer.description %>
  <h5> Posted by: <%= answer.user.username %></h5>
  <h5><a href="/comments/new">Add Comment</a></h5>
</li>
<br>
<% end  %>
</ul>
</article>
