<div class="container">
  <article>
  <h3> Question Title: <%= @question.title %></h3>
  <h4>Question Description:</h4><p><%= @question.description %><p>
  <h5> Posted by: <%= @question.user.username %></h5>
  <!-- # For question, if logged in
   -->
   <% if logged_in? %>
    <a href="/questions/<%= @question.id %>/comments">See Comments</a> | <a href="/comments/new">Add Comment</a> | <a href="/questions/<%= @question.id %>/answers/new">Add Answer</a>
    <!-- For question, if not logged in -->
  <% else %>
    <h5> <a href="/questions/<%= @question.id %>/comments">See Comments</a></h5>
  <% end %>

  <ul>
  <h4><%= @corr_answers.count %> Answers </h4>
  <% @corr_answers.each do |answer| %>
    <br>
    <li>
      <%= answer.description %>
      <h5> Answered by: <%= answer.user.username %></h5>
    <% if logged_in? %>
      <h5> <a href="/answers/<%=answer.id %>/comments">See Comments</a></h5>
      <h5><a href="/questions/<%= @question.id %>/comments/new">Add Comment</a></h5>
    </li>
    <br>
    <% else %>
      <h5> <a href="/answers/<%=answer.id %>/comments ">See Comments</a></h5>
    <% end %>
  <% end  %>
  </ul>
  </article>
</div>