<article class="answer-article">

  <div class="vote-bar">
    <%= erb :'votes/_show', locals: {resource: answer} %>
  </div>

  <p> <%= answer.description %> </p>
  <h5> Answered By: <%= answer.user.username %> </h5>

  <% if logged_in? %>
      <h5> <a href="/answers/<%= answer.id %>/comments">See Comments</a>  |
      <a href="/answers/<%= answer.id %>/comments/new">Add Comment</a> </h5>
      <br>
    <% else %>
      <h5> <a href="/answers/<%= answer.id %>/comments ">See Comments</a></h5>
      <br>
    <% end %>

    <hr>

</article>
