<div class="vote-bar">
  <form id="up-vote-button" action="<%= resource.url %>/votes" method="post">
    <input type="hidden" name="up_down" value="up-vote">
    <input type="hidden" name="question_id" value='<%= @question.id %>'>
    <button><img class="vote-img" src="https://image.freepik.com/free-icon/up-arrow_318-42561.jpg"></button>
  </form>

  <div class="votes">
    <p> <%= resource.total_votes %> votes </p>
  </div>

  <form id="down-vote-button" action="<%= resource.url %>/votes" method="post">
    <input type="hidden" name="up_down" value="down-vote">
    <input type="hidden" name="question_id" value='<%= @question.id %>'>
    <button><img class="vote-img" src="https://image.freepik.com/free-icon/down-arrow-inside-a-circle_318-42553.jpg"></button>
  </form>
</div>
